/* Font Sizes */

:root {
    --size-base: 20;
    --size-base-em: 1.25em; /* (calc(size-base / 16 * 1em);) */

    --size-small: 0.7rem; /* 14px */
    --size-regular: 1rem; /* 20px */
    --size-large: 1.8rem; /* 36px */

    --line-height-regular: 1.5;
    --line-height-small: 1.2;

    --font-family: 'Open Sans', sans-serif;
}
